*{
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    height: 200px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    background-color: cyan;
    margin: 1rem;
    text-align: center;
}

.box p{
    font-size: 2rem;
    font-weight: bold;
}
.box span{
    display: block;
}

.lista_vittorie{
    display: flex;
}

.elemento_vittorie{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}